/*
  Headings
*/
// We're using a different font for headings. Declare it here to keep all heading declarations in one place
.fontface h1
.fontface h2
.fontface h3
.fontface h4
.fontface h5
.fontface h6 {
  @include font-declaration("museo-slab", 700, normal);
}

h1 {
  text-align: center;
  font-weight:600;
}

h2 {
  margin-top: 60px;
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 3px solid #000;
  margin-left: -60px;
  width: 100%;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
}