/* 	
	Starting code for the page. Media queries will modify this code 
	to make the site work better with other devices. 

*/

/*
	iframe format for embedded content 
*/
iframe {
  display: block;
  margin: 20px auto;
	border-color: $red;
	@include solid-thin;
}

/*
	video tag format
*/
.video video {
  margin: 20px auto;
  border-color: $red;
	@include solid-thin;
}
