/*
  PAGED MEDIA AND AUTO-Numbered content

*/


article,
section.chapter {
    counter-reset: chapters;
    counter-reset: figures;

/*
  For each figure increate the figures counter
*/
  figure {
      counter-increment: figures;
  }

/*
  For each figcaption inside a figure use the content indicated below
*/
  figure figcaption:before {
      content: 'Figure ' counter(figures) ' - ';
  }
  
/*
  
*/

}
 
