/* 
--------------------------------
Site:       Ebook Essay
CSS author: Carlos
Updated:    12/14/12
Updated by: Carlos
-------------------------------- 
*/
@import "_reset";

// SASS vriables and mixins
$red: #cc092f;

@mixin solid-thin {
	border-width: thin;
  border-style: solid; 
}

@mixin align-bullets {
	padding-left: 1em;
  text-indent: -1em;
}

// 
// Default size is 16px
//
// Calculations for line height
//
// 16 * 1.125 = 18px
// 16 * 1.5 = 24px
// 16 * 1.75 = 28px
// 16 * 2.0 = 32px
//
@mixin font-attributes {
	font-size: 100%;  
	line-height:1.75; 
  font-style: normal;
  font-weight: normal;
}

// This mixin will create column attributes for the element it's called in
// It uses variables to make life easier. Rather than code multiple attribute 
// sets we use a single set that takes 2 attributes.
//
// $cols indicates the number of columns to use
// $gap indicates the gap between the columns (as in 20px)

@mixin column-attribs ($cols, $gap){
	-moz-column-count: $cols;
  -moz-column-gap: $gap;
  -webkit-column-count: $cols;
  -webkit-column-gap: $gap;
  column-count: $cols;
  column-gap: $gap;
}

//@import "_fonts";
@import "_multimedia";

/*
	Link Formatting
*/
a {
  color: $red;

	[href]:hover {
	  background: #ffa;
	}
}

@import "_headings";

/*
	Assignment of font to body. 
	
	The first one assigns fonts to the browsers that support @fontface
	The second assigns standard fonts to browsers that don't
*/
.fontface body {
  font-family: "source-sans-pro", Verdana, Helvetica, sans-serif;
	font-weight: 400;
	@include font-attributes;
}


/*
	Formatting for different tags and elements
*/
p {
  margin-top: 15px;
	em {
	  font-style: italic;
	}
}

.center {
  text-align: center;
}

strong {
  font-weight: bold;
  font-style: normal;
}

/* 
	CSS Reflections 
	See: http://designshack.net/articles/css/mastering-css-reflections-in-webkit/

.cssreflections .reflections {
  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(white));
}
*/

@import "_lists";
@import "_columns";
@import "_marginalia";
@import "_toc";
@import "_images";
@import "_footnotes";

/*
	random stuff
*/
aside.lowlight {
  opacity: .3;
}

aside.lowlight:hover {
  opacity: 1;
}

aside h3 {
	text-align: center;
	padding-left: 20px;
}

/*
Place Holder for Media Queries
*/ 